<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1><%=title%></h1>
      </div>
      <div id="menu">
        <a href="/">캠핑장관리</a>&nbsp;&nbsp;&nbsp;
        <a href="/style">스타일관리</a>&nbsp;&nbsp;&nbsp;
        <a href="/facility">시설물관리</a>&nbsp;&nbsp;&nbsp;
      </div>
      <div id="center"></div>
        <%-include(pageName)%>
      <div id="bottom">
        <h3>Copyright 2022. 인천일보아카데미 All Rights Reserved</h3>
      </div>
    </div>
  </body>
</html>
