<form name="frm" method="post" action="insert">
<table>
    <tr>
        <td width=100>캠핑장이름</td>
        <td width=500><input type="text" name="name"></td>
    </tr>
    <tr>
        <td width=100>캠핑장전화</td>
        <td width=500><input type="text" name="tel"></td>
    </tr>
    <tr>
        <td width=100>캠핑장주소</td>
        <td width=500><input type="text" name="address"></td>
    </tr>
</table>

<div id="buttons">
    <input type="submit" value="등록" class="button">
    <input type="reset" value="취소" class="button">
    <input type="button" value="목록" class="button" onclick="location">
</div>
</form>
<script>
    $(frm).on("submit", function(e){
        e.preventDefault();
        var name=$(frm.name).val();
        var tel=$(frm.tel).val();
        var address=$(frm.address).val();
        if(name==""){
            alert("캠핑장명을 입력하세요!");
            $(frm.name).focus();
        }else if(tel==""){
            alert("전화번호를 입력하세요!");
            $(frm.tel).focus();           
        }else if(address==""){
            alert("주소를 입력하세요!");
            $(frm.address).focus();
        }else{
            if(!confirm(`${name}:${tel}:${address} 등록?`))return;
            frm.submit();
        }
    });
</script>