<table id="tbl"></table>
<script id="temp" type="text/x-handlebars-template">
    <tr>
        <td colspan="5">
            <button onclick="location.href='/camp/insert'">캠핑장등록</button></td>
    </tr>
    <tr class="title">
        <td width=100>번호</td>
        <td width=200>캠핑장이름</td>
        <td width=200>전화번호</td>
        <td width=300>주소</td>
        <td width=100>삭제</td>
    </tr>
    {{#each .}}
    <tr class="row" >
        <td>{{cid}}</td>
        <td onclick="location.href='/camp/read?cid={{cid}}'">{{name}}</td>
        <td>{{tel}}</td>
        <td>{{address}}</td>
        <td><button cid={{cid}}>삭제</button></td>
    </tr>
    {{/each}}
</script>

<script>
    getCamp();
    $("#tbl").on("click",".row button",function(){
        var cid=$(this).attr('cid');
        if(!confirm(`${cid}를(을) 삭제하실래요?`)) return;
        location.href='/camp/delete?cid=' + cid;
    });
    function getCamp(){
        $.ajax({
        type: "get",
        dateType: "json",
        url:"/camp/list",
        success:function(data){
            var template = Handlebars.compile($("#temp").html());
            $("#tbl").html(template(data)); 
        }
        });
    }
    
    
</script>
