<style>
.title{
    overflow: hidden;
    text-overflow: ellipsis; /*말줄임표*/
    white-space: nowrap;
    color: white;
}
</style>

<div id="container"></div>
<script id="temp" type="text/x-handlebars-template">
    {{#each rows}}
    <div class="box">
        <img src="/images/{{image}}" width=130 class="img", onclick="location.href='/jewelry/read?code={{code}}'">
        <div>{{code}} {{title}}</div>
        <div>{{fprice}}</div>
    </div>
    {{/each}}
</script>
<div id="buttons">
    <button id="prev">이전</button>
    <span id="curpage"></span>
    <button id="next">다음</button>
</div>
<script>
    var page=1;    
    getjewelry();

    $("#prev").on("click",function(){
        page--;
        getjewelry();
    });
    $("#next").on("click",function(){
        page++;
        getjewelry();
    });

    function getjewelry(){
        $.ajax({
            type: "get",
            dataType:"json",
            url: "/jewelry/list",
            data:{page:page},
            success:function(data){
                var template = Handlebars.compile($("#temp").html());
                $("#container").html(template(data));
                $("#curpage").html(page);
                var total=data.total;
                var lastpage=Math.ceil(total/4);
                $("#curpage").html(page + "/" + lastpage);
                
                if(page==1){
                    $("#prev").attr("disabled",true);
                }else{
                    $("#prev").attr("disabled",false);
                }
                if(page==lastpage){
                    $("#next").attr("disabled",true);
                }else{
                    $("#next").attr("disabled",false);
                }
            }
        });
    }
</script>