<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1><%=title%></h1>
      </div>
        <div id="center">
          <div>
            <h2><a href="/address/insert">주소등록</a></h2>
          </div>
          <table id="address"></table>
          <script id="temp" type="text/x-handlebars-template">
            <tr class="title">
              <td width=100>번호</td>
              <td width=100>이름</td>
              <td width=200>전화번호</td>
              <td width=200>주소</td>
            </tr>
            {{#each .}}
            <tr class="row" onclick="location.href='/address/read?id={{id}}'">
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{tel}}</td>
              <td>{{address}}</td>
            </tr>
            {{/each}}
          </script>
        <div id="bottom"></div>
          <h5>Copyright 2022. 인천일보아카데미. All Rights Reserved.</h5>
      </div>
    </div>
  </body>
  <script>
    getAddress();
    function getAddress(){
      $.ajax({
        type: "get",
        dataType: "json",
        url: "/address",
        success:function(data){
          var template = Handlebars.compile($("#temp").html());
          $("#address").html(template(data));
        }
      });
    }
  </script>
</html>
