<form name="frm" method="post" action="insert">
    <table>
        <tr>
            <td class="title">이름</td>
            <td width=500><input type="text" name="name"></td>
        </tr>
        <tr>
            <td class="title">전화</td>
            <td width=500><input type="text" name="tel"></td>
        </tr>
        <tr>
            <td class="title">주소</td>
            <td width=500><input type="text" name="address"></td>
        </tr>      
    </table>
        <div id="buttons">
            <input type="submit" value="등록" class="button">
            <input type="reset" value="취소" class="button">
            <input type="button" value="목록" class="button" id="btnList">
        </div>
</form>
<script>
    $("#btnList").on("click", function(){
       location.href="/"; 
    });
    $(frm).on("submit", function(e){
        e.preventDefault();
        let name=$(frm.name).val();
        let tel=$(frm.tel).val();
        let address=$(frm.address).val();
        if(name==""){
            alert("이름을 입력하세요!");
            $(frm.name).focus;
        }else if(tel==""){
            alert("전화번호를 입력하세요!");
            $(frm.tel).focus;
        }else if(address==""){
            alert("주소를 입력하세요!");
            $(frm.address).focus;
        }else{
            if(!confirm(`${name}-${tel}-${address}를(을) 저장하실래요?`)) return;
                frm.submit();
        }
    });
</script>